@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Kanit", sans-serif;
}

body {
	overflow-y: scroll;
 	min-height: 100vh;
	background: linear-gradient(135deg, #071b8b, #47ffe6);
}

h1 {
	font-weight: 700;
	font-size: 50px;
}

h2 {
  	font-weight: 400;
    font-size: 20px;
}

h3 {
  	font-weight: 300;
    font-size: 15px;
}

h4 {
  	font-weight: 400;
}

h5 {
  	font-weight: 200;
}

h6 {
  	font-weight: 100;
}

#root {
	width: 100%;
	height: 100%;
}

.login-form-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-container {
	position: relative;
	width: 400px;
	height: 500px;
	display: flex;
	justify-content: center;
	background-color: #ffffff2f;
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.268);
}
.title-container {
	margin: 40px;
	color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sign-in-title {
	font-weight: 200;
}
.error-msg {
	position: absolute;
	color: rgb(141, 1, 1);
	top: 380px;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-container {
	margin-bottom: 30px;
}
.input {
	background-color: #ffffff37;
	width: 300px;
	border: none;
	padding: 6px;
	border-radius: 5px;
	color: white;
}
.input::placeholder {
	color: rgba(255, 255, 255, 0.688);
}
.input:focus {
	color: white;
	outline: 1px white solid;
}
.login-btn {
	margin-top: 10px;
	width: 300px;
	padding: 10px;
	border: none;
	color: white;
	border-radius: 10px;
	background: linear-gradient(135deg, #a122c1, #8976f2);
}
.login-btn:hover {
	background: linear-gradient(135deg, #aa26cb88, #8976f282);
}
.register-link {
	position: absolute;
	top: 430px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: white;
	font-weight: 200;
}
.register-link a {
	margin-left: 5px;
	color: rgb(24, 0, 239);
	font-weight: 300;
}
.register-link a:hover {
	color: rgb(13, 0, 133);
}
.home-container {
	background-color: #212529;
	height: 500px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-wrapper {
	max-width: 900px;
	text-align: center;
}
.home-container h2 {
	font-size: 100px;
}
.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.4);
	z-index: 1000;
	opacity: 0;
	pointer-events: none; 
	transition: opacity 0.2s ease-out;
}

.popup-wrapper.visible {
	opacity: 1;
	pointer-events: auto; 
}
.popup-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.9);
	opacity: 0;
	display: flex;
	flex-direction: column;
	width: 900px;
	height: 700px;
	background-color: #212529;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.268);
	transition: transform 0.2s ease-out, opacity 0.2s ease-out;
	z-index: 1000;
	padding: 50px;
}
.popup-container.open {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}

.type-container, .due-container, .time-container {
	display: flex;
	align-items: center;
}
.type-container h3, .due-container h3, .time-container h3 {
	margin: 0px;
	font-size: 20px;
}
.overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1256px;
	padding-top: 100px;
	padding-bottom: 20px;
}
.new-btn {
	border: none;
	outline: none;
	padding: 0px 15px;
	background-color: #212529;
	font-size: 30px;
	color: white;
	border-radius: 10px;
}
.filter-title {
	color: white;
	font-size: 25px;
}
.filter-options {
	margin-left: 15px;
	border: none;
	outline: none;
	font-size: 18px;
	border-radius: 10px;
	background-color: #212529;
	padding: 5px;
	color: white;
}
.filter-options:hover {
	cursor: pointer;
}
.list-container li {
	width: 1300px;
	list-style: none;
	background-color: #212529;
	padding: 15px;
	margin: 2px;
	color: white;
}
.list-container li:hover {
	background-color: rgba(23, 46, 69, 0.749);
	cursor: pointer;
}

.task-item {
	display: flex;
	justify-content: space-between;
}
.task-left {
	display: flex;
	flex-direction: column;
}
.task-right {
	display: flex;
	justify-content: flex-end;
}
.date-container{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.other {
	margin-top: 105px;
}
.btn-container {
	display: flex;
}
.cancel-btn {
	border: 1px white solid;
	background-color: #212529;
	color: white;
	padding: 10px;
	margin-right: 20px;
	margin-top: 60px;
}
.add-btn {
	border: 1px white solid;
	background-color: rgb(40, 124, 198);
	padding: 10px;
	margin-left: 10px;
	margin-top: 60px;
}
.complete-btn {
	border: 1px white solid;
	background-color: rgb(28, 116, 66);
	color: white;
	padding: 10px;
	margin-right: 10px;
	margin-top: 60px;
}
.edit-btn {
	border: 1px white solid;
	background-color: rgb(40, 124, 198);
	color: white;
	padding: 10px;
	margin-right: 10px;
	margin-top: 60px;
}
.delete-btn {
	border: 1px white solid;
	background-color: rgb(198, 40, 40);
	color: white;
	padding: 10px;
	margin-right: 10px;
	margin-top: 60px;
}
.close-btn {
	border: 1px white solid;
	color: white;
	background-color: #212529;
	padding: 10px;
	margin-right: 10px;
	margin-top: 60px;
}